.footer{
    padding: 36px 0 30px 0;
    a{
        color:#fff;
        @include link-hover{
            opacity:0.7;
        }
    }

    @include pc-1024{
    padding: 40px 0;
    }
    @include phone-576{
        padding:24px 0;
    }
}
.footer_infro{
    border-bottom:1px solid   #ffff;
}
.footer_infro > a{
    img{
        margin-right:12px;
        @include pc1024{
            @include size(24px)
        }
        @include
    }
}