.ml{
    &-base{
        margin-left:$spacing;   
    }
    &-1{
        margin-left:$spacing*2;
    }
    &-2{
        margin-left: $spacing*2.5;

    }
    &-3{
        mask-size: $spacing*3.75;
    }
    &-8{
        margin-left: $spacing*8
        ;
    }
}