$color: #AA0601;
$
.header {
  background-color: #AA0601;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.d-flex{
  display: flex;
}
.footer {
  height: 200px;
  background-color: #00cc99;
}
.nav
.box {
  width: 100px;
  height: 100px;
  background-color: red;
  display: flex;
  transition: all 0.5s;
  &:hover {
    width: 200px;
    background-color: $color;
  }
}
