<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="header">
    <div class="main">
      <div class="container header d-flex">
        <div class="logo ml-18"> <a href="#"> <img src="https://hexschool.github.io/webLayoutTraining1st/week3/logo.png" alt="#"></a> </div>
    
        <ul class="menu d-flex">
          <li><a href="#">系列鏡框</a></li>
          <li><a href="#">門市據點</a></li>
          <li><a href="#">部落格</a></li>
          <li><a href="#">常見問題</a></li>
        </ul>
  </header>

  <%- contents %>

  <footer class="footer">
 <ul>
   <li><a href=""></a></li>
   <li><a href=""></a></li>
   <li><a href=""></a></li>
   <li><a href=""></a></li>
 </ul>
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
