<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="header">
    <div class="main">
      <div class="container header d-flex">
        <div class="logo ml-18"> <a href="#"> <img src="https://hexschool.github.io/webLayoutTraining1st/week3/logo.png" alt="#"></a> </div>
    
        <ul class="menu d-flex">
          <li><a href="http://localhost:8080/%E7%B3%BB%E5%88%97%E9%8F%A1%E6%A1%86.html">系列鏡框</a></li>
          <li><a href="#">門市據點</a></li>
          <li><a href="#">部落格</a></li>
          <li><a href="http://localhost:8080/%E5%B8%B8%E8%A6%8B%E5%95%8F%E9%A1%8C.html">常見問題</a></li>
        </ul>
  </header>
<div class="main">
  <%- contents %>
</div>
  <div class="footer">
    <div class="contianer">
        <div class="linkbar d-flex jcc-space-b align-i-c mb-6">
            <ul class="menu d-flex">
                <li><a href="#">首頁</a></li>
                <li><a href="#">系列鏡框</a></li>
                <li><a href="#">門市據點</a></li>
                <li><a href="#">部落格</a></li>
                <li><a href="#">常見問題</a></li>  
            </ul>
            <ul class="social d-flex">
                <li><a href="#"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/102c91f7b3d8e08005073f54b3283b09a18dc427/week3/icon-fb.svg" alt="fb"></a></li>
                <li><a href="#"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/102c91f7b3d8e08005073f54b3283b09a18dc427/week3/icon-ig.svg" alt="ig"></a></li>
                <li><a href="#"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/102c91f7b3d8e08005073f54b3283b09a18dc427/week3/icon-line.svg" alt="line"></a></li>
            </ul>
        </div>
        <ul class="contact-info mb-8">
            <li class="d-flex "><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/102c91f7b3d8e08005073f54b3283b09a18dc427/week3/icon-phone.svg" alt="icon電話"><a href="tel:+0800-000-000">0800-000-000</a></li>
            <li class="d-flex mb-6"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/102c91f7b3d8e08005073f54b3283b09a18dc427/week3/icon-mail.svg" alt="icon郵件"><a href="mailto:glasses@business.com">glasses@business.com</a></li>
        </ul>
        <div class="copyright d-flex jcc-space-b">
            <p>Copyright © 2020 Glasses.All rights reserved.</p>
            <ul class="terms d-flex">
                <li><a href="#">隱私權政策</a></li>
                <li><a href="#">服務條款</a></li>
            </ul>
        </div>
    </div>
</div>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
